:root {
  --color-background: #1E1E24;
  --color-button: #4B4E58;
  --color-text: #F1F3F9;
}

html,
body {
  font-size: 10px;
  height: 100%;
}

body {
  margin: 0 auto;
  max-width: 320px;
  padding: 1.5rem;
  background-color: var(--color-background);
}
